body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.ecg-container {
  display: flex;
}

.ecg-lead {
  height: 100%;
  width: 50px;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-right: 2px solid #00ff00; /* Green color */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ecg-wave {
  width: 2px;
  background-color: #00ff00; /* Green color */
  transition: height 1s ease-in-out;
}

.lead-name {
  color: #00ff00; /* Green color */
  margin-top: 5px;
}
